
.container{
    margin-top: 8%;
}
.center{
    display: flex;
    justify-content: center;
}
.UnderMainImg{
    width: 30%;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  opacity: .7;
  z-index: -10;
  width: 1920px;
}
